.answersListContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
    padding: 30px;
    
}
button{
width: 90%;
margin: 15px !important;

}
.flagContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.flagRightAnswer{
    width: 500px;
    height: 300px;

}
.meterContainer{
    display: flex;
    align-items: center;
    width: 115px;
    height: 40px;
    background-color:#3f51b5;
    color: $white;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: $font-2;

}
.wrongResponseBtn{
    background-color: rgb(221, 31, 31) !important;
}
#incorrect{
    margin: auto;
    background-color: rgb(243, 62, 62);
    width: 250px;
    height: 70px;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
        span{
            font-family: $font-2;
            font-size: 30px;
        }

}
#correct{
    margin: auto;
    background-color: rgb(25, 202, 78);
    width: 250px;
    height: 70px;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
        span{
            font-family: $font-2;
            font-size: 30px;
        }

}

#flag{

    
}